.machine {
    text-align: center;
    width: 600px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 100px;
    margin-botton: 100px;
}

.text-box {
    padding: 10px;
    margin: 10px;
    border: 5px solid;
    border-radius: 10px;
}

#title-text {
    font-size: 2.5em;
}

#quote-text {
    font-size: 1.4em;
}

#author-text {
    font-size: 1.1em;
    font-style: italic;
}